h5 { padding-bottom: .5rem; margin-bottom: 1rem; border-bottom: 1px solid #dee2e6; }
tr.text-muted td a { color: inherit; }

/*
 * Sidebar
 */
@media(min-width: 992px) {
    .sidebar {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;		/* behind the navbar */
	padding: 48px 0 0;
	box-shadow: inset -1px 0 0 rgba(0,0,0,.1);
    }
    .sidebar-sticky {
	position: -webkit-sticky;
	position: sticky;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* scrollable contents if viewport is shorter than content. */
    }

    .sidebar .nav-link.active {
	border-left: 0.2rem solid #0275d8;
    }
}

@media(max-width: 991px) {
    .sidebar .nav-tabs .nav-link.active {
	margin-top: -0.1rem;
	border-top: 0.2rem solid #0275d8;
    }
}

.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.navbar-title {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    justify-content: flex-start;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.1);
}

@media (min-width: 992px) {
    /*
     * Vertical nav tabs
     */
    .nav-tabs-vertical {
	border-bottom: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }

    .nav-tabs-left {
	margin: 0 0 0 5px;
    }

    .nav-tabs-left .nav-link {
	margin-bottom: .25rem;
	border-bottom-left-radius: 0.25rem;
	border-top-right-radius: 0;
    }

    .nav-tabs-left .nav-link:hover {
	border-color: #ddd;
    }

    .nav-tabs-left .nav-link.active {
	border-color: #dee2e6 #fff #dee2e6;
	border-left: #0275d8 solid .2rem;
    }
}

.nav-tabs-left .nav-link {
    -webkit-transition: border-color .125s ease-in;
    transition: border-color .125s ease-in;
    white-space: nowrap;
}
