{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="golang webapp mailadmin">
    <meta name="description" content="mailadmin web application">
    <title>MailAdmin</title>
    <link rel="stylesheet" href="{{ static "bootstrap.min.css" }}">
    <link rel="stylesheet" href="{{ static "mailadmin.css" }}">
    <script src="{{ static "bootstrap.bundle.min.js" }}"></script>
    <script src="{{ static "feather.min.js" }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-md-2 ps-3" href="{{ reverse "domain-list" }}">MailAdmin</a>
      <div class="navbar-title w-100">{{ .domain.Name }}</div>
      <ul class="navbar-nav px-3">
	<li class="nav-item text-nowrap">
	  <a class="nav-link" href="{{ reverse "sign-out" }}"><span data-feather="log-out"></span> Sign out</a>
	</li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
	<div class="col-md-2 d-none d-md-block bg-light sidebar">
	  {{ template "sidebar" . }}
	</div>
	<div class="col-md-10 ms-sm-auto col-lg-10 pt-3 px-3">
	  {{ if .flashes }}
	  {{ range $_, $flash := .flashes }}
	  <div class="alert alert-success alert-dismissible" role="alert">
	    {{ $flash }}
	    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
	  {{ end }}
	  {{ end }}
	  {{ template "content" . }}
	</div>
      </div>
    </div>
    <script>
      feather.replace();
    </script>
  </body>
</html>
{{ end }}
{{ define "content" }}{{ end }}
{{ define "sidebar" }}{{ end }}
