{{ define "sidebar" }}{{ template "alias_sidebar" . }}{{ end }}
{{ define "content" }}
<div class="row">
  <div class="col-sm">
    <h5>{{ .Title }}</h5>
  </div>
</div>
<form class="row" action="" method="post">
  {{ .csrfField }}
  <div class="col mb-3">
    {{ template "emailfield" .form.Values.destination }}
  </div>
  <div class="mb-3">
    {{ template "emailfield" .form.Values.redirect_to }}
  </div>
  <div class="mb-3">
    <label class="form-label">Alias options</label>
    {{ template "checkboxfield" .form.Values.active }}
  </div>
  {{ template "form_buttons" . }}
</form>
{{ end }}
