{{ define "content" }}
<section>
  <h2>Delete The Alias</h2>
  <table class="overview">
    <tbody>
      <tr>
        <th scope="row">Destination</th>
        <td>{{ .alias.Destination }}</td>
      </tr>
      <tr>
        <th scope="row">Redirect to</th>
        <td>{{ .alias.RedirectTo }}</td>
      </tr>
      <tr>
        <th scope="row">Active</th>
        <td>{{ if .alias.Active }}Yes{{ else }}No{{ end }}</td>
      </tr>
      <tr>
        <th scope="row">Created on</th>
        <td>{{ .alias.Created.Format "2006-01-02 15:04:05 MST" }}</td>
      </tr>
      <tr>
        <th scope="row">Modified on</th>
        <td>{{ .alias.Modified.Format "2006-01-02 15:04:05 MST" }}</td>
      </tr>
    </tbody>
  </table>
  <p>Are you sure you want to delete this alias?</p>
  <form action="" method="post">
    {{ .csrfField }}
    <div>
      <button type="submit">Yes, do it now</button>
    </div>
  </form>
</section>
{{ end }}
