{{ define "sidebar" }}{{ template "alias_sidebar" . }}{{ end }}
{{ define "content" }}
<div class="row">
  <div class="col-sm">
    <div>
      <h5 class="float-left">Aliases</h5>
      <a class="float-right btn btn-sm btn-outline-primary" href="{{ reverse "alias-create" .domain.Id.Value }}">
	New Alias
      </a>
    </div>
  </div>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead class="thead-dark">
    <tr>
      <th>Source</th>
      <th>Destination</th>
      <th>Active</th>
      <th>Modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{ range $_, $alias := .aliases }}
    <tr>
      <td><a href="{{ reverse "alias-update" $alias.Domain.Value $alias.Id.Value }}">{{ $alias.Source }}</a></td>
      <td>{{ $alias.Destination }}</td>
      <td>{{ if $alias.Active }}<span data-feather="check-circle"></span>{{ end }}</td>
      <td>{{ $alias.Modified.Format "2006-01-02 15:04 MST" }}</td>
      <td><a class="text-danger" href="{{ reverse "alias-delete" $alias.Domain.Value $alias.Id.Value }}"><span data-feather="trash"></span><span class="sr-only">Delete</span></td>
      {{ end }}
  </tbody>
</table>
{{ end }}
