{{ define "content" }}
<section>
  <h2>{{ .Title }}</h2>
  <form action="" method="post">
    {{ .csrfField }}
    <ul>
      <li>
        <label for="dest">Destination</label>
        <input type="email" name="destination" id="dest" value="{{ .form.Values.destination.Value }}" required />
        <span></span>
      </li>
      <li>
        <label for="redir">Redirect to</label>
        <input type="email" name="redirect_to" id="redir" value="{{ .form.Values.redirect_to.Value }}" required />
        <span></span>
      </li>
      <li>
        <fieldset>
          <legend>Options</legend>
          <div>
            <input type="checkbox" name="active" id="active" {{ if .form.Values.active.Value }}checked{{ end }} />
            <label for="active">Active</label>
          </div>
        </fieldset>
      </li>
      <li>
        <button type="submit">Confirm</button>
      </li>
    </ul>
  </form>
</section>
{{ end }}
