{{ define "content" }}
<section>
  <h2>{{ .Title }}</h2>
  <form action="" method="post">
    {{ .csrfField }}
    <ul>
      <li>
        <label for="name">Domain name</label>
        <input type="text" name="name" id="name" value="{{ .form.Values.name.Value }}" required />
        <span></span>
      </li>
      <li>
        <label for="description">Domain description</label>
        <textarea name="description" id="description">{{ .form.Values.description.Value }}</textarea>
      </li>
      <li>
        <fieldset>
          <legend>Options</legend>
          <div>
            <input type="checkbox" name="active" id="active" {{ if .form.Values.active.Value }}checked{{ end }}/>
            <label for="active">Active</label>
          </div>
          <div>
            <input type="checkbox" name="backupmx" id="backupmx" {{ if .form.Values.backupmx.Value}}checked{{end}}/>
            <label for="backupmx">BackupMX</label>
          </div>
        </fieldset>
      </li>
      <li>
        <button type="submit">Confirm</button>
      </li>
    </ul>
  </form>
</section>
{{ end }}
