{{ define "sidebar" }}{{ template "domain_sidebar" . }}{{ end }}
{{ define "content" }}
<div class="row">
  <div class="col-sm">
    <h5>{{ .Title }}</h5>
  </div>
</div>
<form action="" method="post" class="form">
  {{ .csrfField }}
  <div class="mb-3">
    {{ template "textfield" .form.Values.name }}
  </div>
  <div class="mb-3">
    {{ template "textfield" .form.Values.description }}
  </div>
  <div class="mb-3">
    <label class="form-label">Domain options</label>
    {{ template "checkboxfield" .form.Values.backupmx }}
    {{ template "checkboxfield" .form.Values.active }}
  </div>
  {{ template "form_buttons" . }}
</form>
{{ end }}
