{{ define "sidebar" }}{{ template "domain_sidebar" . }}{{ end }}
{{ define "content" }}
<h5>Delete {{ .domain.Name }}</h5>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Domain</th>
      <td>{{ .domain.Name }}</td>
    </tr>
    <tr>
      <th scope="row">Active</th>
      <td>{{ if .domain.Active }}Yes{{ else }}No{{ end }}</td>
    </tr>
    <tr>
      <th scope="row">Backup MX</th>
      <td>{{ if .domain.BackupMX }}Yes{{ else }}No{{ end }}</td>
    </tr>
    <tr>
      <th scope="row">Created on</th>
      <td>{{ .domain.Created.Format "2006-01-02 15:04 MST" }}</td>
    </tr>
    <tr>
      <th scope="row">Modified on</th>
      <td>{{ .domain.Modified.Format "2006-01-02 15:04 MST" }}</td>
    </tr>
  </tbody>
</table>
<p class="text-danger fw-bold">Are you sure you want to delete this domain?</p>
{{ template "delete_form" . }}
{{ end }}
