{{ define "content" }}
<section>
  <h2>Domain list</h2>
  <table class="domains">
    <caption>
      <span>No. {{ .DomainCount }} Managed Domains</span>
      <a href="{{ reverse "domain-create" }}"><button>New Domain</button></a>
    </caption>
    <thead>
      <tr>
        <th>Domain</th>
        <th>Active</th>
        <th>BackupMX</th>
        <th>Last Modified</th>
        <th></th>
      </tr>
    </thead>
    <tbody>{{ range $_, $domain := .domains }}
      <tr{{ if not $domain.Active}} class="secondary"{{ end }}>
        <td>
	  <a href="{{ reverse "domain-overview" $domain.Id.Value }}">
	    {{ $domain.Name }}
	  </a>
        </td>
        <td>{{ if $domain.Active }}Active{{ end }}</td>
        <td>{{ if $domain.BackupMX }}BackupMX{{ end }}</td>
        <td>{{ $domain.Modified.Format "2006-01-02 15:04:05 MST" }}</td>
        <td>
	  <a href="{{ reverse "domain-delete" $domain.Id.Value }}">Delete</a>
        </td>
      </tr>{{ end }}
    </tbody>
  </table>
</section>
{{ end }}
