{{ define "content" }}
<section>
  <h2>Overview of {{ .domain.Name }}</h2>
  {{ template "domain" .domain }}
  <nav>
    <ul>
      <li>
        <a href="{{ reverse "domain-update" .domain.Id.Value }}">Change</a>
      </li>
      <li>
        <a href="{{ reverse "mailbox-list" .domain.Id.Value }}">Mailboxes</a>
      </li>
      <li>
        <a href="{{ reverse "alias-list" .domain.Id.Value }}">Aliases</a>
      </li>
      <li>
        <a href="{{ reverse "domain-delete" .domain.Id.Value }}">Delete</a>
      </li>
    </ul>
  </nav>
</section>
{{ end }}
