{{ define "title" }}{{ .Title }}{{ end }}
{{ define "sidebar" }}{{ template "mailbox_sidebar" . }}{{ end }}
{{ define "content" }}
<div class="row">
  <div class="col-sm">
    <h5>{{ .Title }}</h5>
  </div>
</div>
<form action="" method="post">
  {{ template "emailfield" .form.Values.email }}
  {{ template "passfield" .form.Values.password }}
  {{ template "checkboxfield" .form.Values.active }}

  {{ .csrfField }}

  <div class="form-group">
    <button class="btn btn-default" type="reset">
      <span data-feather="refresh-cw"></span> Revert
    </button>
    <button class="btn btn-default btn-primary" type="submit">
      <span data-feather="save"></span> Confirm
    </button>
  </div>
</form>
{{ end }}
