{{ define "content" }}
<section>
  <h2>Mailboxes for {{ .domain.Name }}</h2>
  <table class="mailboxes">
    <caption>
      <span>No. {{ .MailboxCount }} Managed Mailboxes</span>
      <a href="{{ reverse "mailbox-create" .domain.Id.Value }}">
        <button>New Mailbox</button>
      </a>
    </caption>
    <thead>
      <tr>
        <th>Email</th>
        <th>Active</th>
        <th>Last Modified</th>
        <th></th>
      </tr>
    </thead>
    <tbody>{{ range $_, $mailbox := .mailboxes }}
      <tr{{ if not $mailbox.Active }} class="secondary"{{ end }}>
        <td>
	  <a href="{{ reverse "mailbox-update" $mailbox.Domain.Value $mailbox.Id.Value }}">
	    {{ $mailbox.Email }}
	  </a>
        </td>
        <td>{{ if $mailbox.Active }}Active{{ end }}</td>
        <td>{{ $mailbox.Modified.Format "2006-01-02 15:04:05 MST" }}</td>
        <td>
	  <a href="{{ reverse "mailbox-delete" $mailbox.Domain.Value $mailbox.Id.Value }}">
	    Delete
          </a>
        </td>
      </tr>{{ end }}
    </tbody>
  </table>
</section>
{{ end }}
