{{ define "sidebar" }}
<div class="sidebar-sticky">
  <ul class="nav nav-tabs nav-tabs-vertical nav-tabs-left flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{{ reverse "domain-list" }}">
	<span data-feather="arrow-up-left"></span>
	Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ reverse "domain-overview" .domain.Id.Value }}">
	<span data-feather="archive"></span>
	Overview
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ reverse "domain-update" .domain.Id.Value }}">
	<span data-feather="edit-2"></span>
	Change
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ reverse "mailbox-list" .domain.Id.Value }}">
	<span data-feather="inbox"></span>
	Mailboxes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ reverse "alias-list" .domain.Id.Value }}">
	<span data-feather="mail"></span>
	Aliases <span class="sr-only">(current)</span>
      </a>
    </li>
  </ul>
</div>
{{ end }}
{{ define "content" }}
<div class="row">
  <div class="col-sm">
    <div>
      <h5 class="float-left">Mailboxes</h5>
      <a class="float-right btn btn-sm btn-outline-primary" href="{{ reverse "mailbox-create" .domain.Id.Value }}">
	New Mailbox
      </a>
    </div>
  </div>
</div>
<table class="table table-striped table-hover table-condensed">
  <thead class="thead-dark">
    <tr>
      <th>Email</th>
      <th>Active</th>
      <th>Modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{ range $_, $mailbox := .mailboxes }}
    <tr>
      <td><a href="{{ reverse "mailbox-update" $mailbox.Domain.Value $mailbox.Id.Value }}">{{ $mailbox.Email }}</a></td>
      <td>{{ if $mailbox.Active }}<span data-feather="check-circle"></span>{{ end }}</td>
      <td>{{ $mailbox.Modified.Format "2006-01-02 15:04 MST" }}</td>
      <td><a class="text-danger" href="{{ reverse "mailbox-delete" $mailbox.Domain.Value $mailbox.Id.Value }}"><span data-feather="trash"></span><span class="sr-only">Delete</span></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
