{{ define "sidebar" }}{{ template "mailbox_sidebar" . }}{{ end }}
{{ define "content" }}
<div class="row">
  <div class="col-sm">
    <h5>{{ .Title }}</h5>
  </div>
</div>
<form action="" method="post">
  {{ .csrfField }}
  <div class="mb-3">
    {{ template "emailfield" .form.Values.email }}
  </div>
  <div class="mb-3">
    {{ template "passfield" .form.Values.password }}
  </div>
  <div class="mb-3">
    <label class="form-label">Mailbox options</label>
    {{ template "checkboxfield" .form.Values.active }}
  </div>
  {{ template "form_buttons" . }}
</form>
{{ end }}
