{{ define "sidebar" }}{{ template "mailbox_sidebar" . }}{{ end }}
{{ define "content" }}
<div class="row">
  <div class="col-sm">
    <h5>Delete The Mailbox</h5>
  </div>
</div>
<div class="alert alert-warning" role="alert">
  <dl class="dl-horizontal">
    <dt>E-Mail</dt>
    <dd>{{ .mailbox.Email }}</dd>
    <dt>Active</dt>
    <dd>{{ if .mailbox.Active }}Yes{{ else }}No{{ end }}</dd>
  </dl>
  <p class="text-danger">Are you sure you want to delete the mailbox above?</p>
</div>
<form action="" method="post" class="form">
  {{ .csrfField }}
  <div class="form-group">
    <a class="btn btn-primary btn-default" href="{{ reverse "mailbox-list" .domain.Id.Value }}">
      <span data-feather="arrow-up-left"></span> No, go back
    </a>
    <button class="btn btn-danger" type="submit">
      <span data-feather="trash"></span> Yes, do it now
    </button>
  </div>
</form>
{{ end }}
