{{ define "content" }}
<section>
  <h2>{{ .Title }}</h2>
  <form action="" method="post">
    {{ .csrfField }}{{ with .form.Values }}
    <ul>
      <li>
        <label for="email">E-Mail</label>
        <input type="email" name="email" id="email" value="{{ .email.Value }}" required autofocus />
        <span></span>
      </li>
      <li>
        <label for="pwd">Password</label>
        <input type="password" name="password" id="pwd" {{ if .password.Required }} required{{ end }}/>
        <span></span>
      </li>
      <li>
        <fieldset>
          <legend>Options</legend>
          <div>
            <input type="checkbox" name="active" id="active" {{ if .active.Value }}checked{{ end }}/>
            <label for="active">Active</label>
          </div>
        </fieldset>
      </li>
      <li>
        <button type="submit">Confirm</button>
      </li>
    </ul>{{ end }}
  </form>
</section>
{{ end }}
