<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1, shrink-to-fit=no">
    <title>Sign In MailAdmin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ static "signin.css" }}">
  </head>
  <body class="text-center">
    <form class="form-signin" method="post" action="">
      <h1 class="font-weight-bold">MailAdmin</h1>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="username" class="sr-only">Username</label>
      <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

      {{ .csrfField }}

      <button class="btn btn-primary btn-block" type="submit">Sign in</button>
      {{ if .Error }}<div class="text-danger mt-3">{{ .Error }}</div>{{ end }}
      <p class="mt-5 mb-3 text-muted">&copy; 2018 funnydog</p>
    </form>
  </body>
</html>

