{{ define "checkboxfield" }}
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input {{ if .Value }}checked{{ end }} id="{{ .Name }}" name="{{ .Name }}" type="checkbox" {{ if .Required }}required {{end }}/>
    </div>
  </div>
  <label class="form-control{{ if .Error }} is-invalid{{ else if .Submitted }} is-valid{{ end }}" for="{{ .Name }}">{{ .Label }}</label>
  {{ if .Error }}
  <div class="invalid-feedback">{{ .Error }}</div>
  {{ else if .Submitted }}
  <div class="valid-feedback">Looks good!</div>
  {{ end }}
</div>
{{ end }}
