{{ define "emailfield" }}
{{ if .Label }}<label class="form-label" for="{{ .Name }}">{{ .Label }}{{ if .Required }} *{{ end }}</label>{{ end }}
<div class="input-group">
  <div class="input-group-text">
    <span data-feather="mail"></span>
  </div>
  <input class="form-control{{ if .Error }} is-invalid{{ else if .Submitted }} is-valid{{ end }}" id="{{ .Name }}" name="{{ .Name }}" placeholder="{{ .Label }}" type="text" value="{{ .Value }}" {{ if .Required }}required {{ end }}>
</div>
{{ if .Error }}
<div class="invalid-feedback">{{ .Error }}</div>
{{ else if .Submitted }}
<div class="valid-feedback">Looks good!</div>
{{ end }}
{{ end }}
