{{ define "selectfield" }}
<div class="form-group">
  {{ if .Label }}<label class="form-label" for="{{ .Name }}">{{ .Label }}</label>{{ end }}
  <select class="form-select{{ if .Error }} is-invalid{{ else if .Submitted }} is-valid{{ end }}" id="{{ .Name }}" name="{{ .Name }}"{{ if .Error }}aria-describedby="{{.Name }}Feedback"{{ end }}>
    {{ $value := .Value }}{{ range $_, $entry := .Data }}
    <option value="{{ $entry.Key }}"{{ if eq $value $entry.Key }} selected{{ end }}>{{ $entry.Value }}</option>
    {{ end }}
  </select>
  {{ if .Error }}
  <div class="invalid-feedback" id="{{ .Name }}Feedback">{{ .Error }}</div>
  {{ end }}
</div>
{{ end }}
