{{ define "textfield" }}
<div class="form-group">
  {{ if .Label }}<strong><label class="control-label" for="{{ .Name }}">{{ .Label }}</label></strong>{{ end }}
  <input class="form-control{{ if .Error }} is-invalid{{ else if .Submitted }} is-valid{{ end }}" id="{{ .Name }}" name="{{ .Name }}" placeholder="{{ .Label }}" type="text" value="{{ .Value }}" {{ if .Required }}required {{ end }}/>
  {{ if .Error }}
  <div class="invalid-feedback">{{ .Error }}</div>
  {{ else if .Submitted }}
  <div class="valid-feedback">Looks good!</div>
  {{ end }}
</div>
{{ end }}
